.App {
  text-align: center;
}


* {
  cursor: url("Mouse2.cur"), auto;
}

audio {
  display:none;

}

html {
  background:  url("Menu-Background.gif") no-repeat center center fixed;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;
}

.fadeIn {
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeOut {
  -webkit-animation: fadeOut 1s forwards;
  -moz-animation: fadeOut 1s forwards;
  -o-animation: fadeOut 1s forwards;
  animation: fadeOut 1s forwards; }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-moz-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-o-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }


@keyframes fade {
  0% {opacity: 1}
  50% { opacity: .1 }
  100% { opacity: 1 }
}
