.App {
  text-align: center;
}
html {
  background:  url("Menu-Background.gif") no-repeat center center fixed;
  background-size: cover;

}

img {

  height: 100%;
  width: 100%;

}

.Menu-Circle {
  position: relative;
}
.Menu-Hand {

  position: absolute;
}
.Menu-Button-Div {
  position: absolute;
  top: 590px;
  left: 535px;
  height: 10%;
  width: 15%;
}
.Menu-Button-Div:hover {
  opacity: .80;
}
