.First-Tree {
  position: absolute;
  top: 10%;
  left: 0px;
}

.First-Dog {
  position: absolute;
  top: 5.5%;
  left: 0px;
}

.First1 {
  position: absolute;
  width: 40%;
  height: 7%;
  top: 13%;
  left: 10%;
  opacity: 1;
  transition: 0.7s;
}

.First1GIF {
  position: absolute;
  width: 40%;
  height: 6%;
  top: 13%;
  left: 9.8%;
  opacity: .5;
}

.First1:hover {
  opacity: .5;
  transition: 0.3s;
}

.First2 {
  position: absolute;
  width: 40%;
  height: 13%;
  top: 15%;
  left: 50%;
  opacity: 1;
  transition: 0.7s;
}

.First2GIF {
  position: absolute;
  width: 40%;
  height: 14%;
  top: 14.5%;
  left: 50%;
  opacity: .5;
}

.First2:hover {
  opacity: .5;
  transition: 0.3s;
}

.FirstSpace {
  position: absolute;
  width: 12%;
  height: 7%;
  top: 75.5%;
  left: 23.5%;
  opacity: 1;
  animation: fade 1.5s infinite;
}

@keyframes fade {
  0% {opacity: 1}
  50% { opacity: .1 }
  100% { opacity: 1 }
}

.FirstLoad {
  position: absolute;
  top: 4%;
  left: -1%;
  height: 100%;
  width: 100%;
}


.FirstClock {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
