img {

  height: 100%;
  width: 100%;

}



/* .ButtonHandDiv {
  position: absolute;
} */

.Menu-Circle {
  position: relative;
}

.fadeOutCircle {
  -webkit-animation: fadeOut 1s forwards;
  -moz-animation: fadeOut 1s forwards;
  -o-animation: fadeOut 1s forwards;
  animation: fadeOut 1s forwards;
}

.Menu-Hand {
  position: absolute;
  opacity: 1;
  animation: fade 4s infinite;
  top: 0px;
  left: 0px;
}

.Menu-Button {
  position: absolute;
  top: 85%;
  left: 42.2%;
  height: 10%;
  width: 15%;
  opacity: 1;
  transition: 0.7s;
}
.Menu-Button:hover {
  opacity: .80;
  transition: 0.3s;
  width: 17%;
  left: 41%;
}

@keyframes fade {
  0% {opacity: 1}
  50% { opacity: .1 }
  100% { opacity: 1 }
}
