.Fifth-Background {
  position: absolute;
  height: 103.5%;
  width: 103.5%;
  top: -3%;
  left: -1.9%;
}

.Fifth-Making {
  position: absolute;
  top: 0;
  left: 0;
}


.Seventh-8 {
  position: absolute;
  height: 6%;
  width: 13%;
  top: 86%;
  left: 83%;
}

.Seventh-9 {
  position: absolute;
  height: 6%;
  width: 13%;
  top: 86%;
  left: 83%;
}

.Seventh-10 {
  position: absolute;
  height: 6%;
  width: 13%;
  top: 86%;
  left: 83%;
}

.Seventh-11 {
  position: absolute;
  height: 6%;
  width: 13%;
  top: 86%;
  left: 83%;
}

.Seventh-12 {
  position: absolute;
  height: 6%;
  width: 13%;
  top: 86%;
  left: 83%;
}

.Seventh-13 {
  position: absolute;
  height: 6%;
  width: 13%;
  top: 86%;
  left: 83%;
}

.Seventh-14 {
  position: absolute;
  height: 6%;
  width: 13%;
  top: 86%;
  left: 83%;
}

.Seventh-15 {
  position: absolute;
  height: 6%;
  width: 13%;
  top: 86%;
  left: 83%;
}

.Seventh-16 {
  position: absolute;
  height: 6%;
  width: 13%;
  top: 86%;
  left: 83%;
}

.Seventh-Press {
  position: absolute;
  width: 12%;
  height: 5%;
  top: 90.5%;
  left: 43.5%;
  opacity: 1;
  animation: fade 2s infinite;
}


.Seventh-Text1 {
  position: absolute;
  height: 7.2%;
  width: 23.8%;
  top: 20.7%;
  left:38%;

  opacity: 1;
  transition: 0.7s;
}

.Seventh-Text1:hover {
  opacity: .5;
  transition: 0.3s;
}

.Seventh-Text2 {
  position: absolute;
  height: 7.2%;
  width: 23.8%;
  top: 20.7%;
  left:38%;

  opacity: 1;
  transition: 0.7s;
}

.Seventh-Text2:hover {
  opacity: .5;
  transition: 0.3s;
}

.Seventh-Text3 {
  position: absolute;
  height: 7.2%;
  width: 23.8%;
  top: 20.7%;
  left:38%;

  opacity: 1;
  transition: 0.7s;
}

.Seventh-Text3:hover {
  opacity: .5;
  transition: 0.3s;
}

.Seventh-Text4 {
  position: absolute;
  height: 7.2%;
  width: 14.8%;
  top: 20.7%;
  left: 41.5%;
  opacity: 1;
  transition: 0.7s;
}

.Seventh-Text4:hover {
  opacity: .5;
  transition: 0.3s;
}

.Seventh-Crackle {
  position: absolute;
  top: 16.3%;
  left: 34.5%;
  height: 16%;
  width: 29%;

}
