.Fifth-Background {
  position: absolute;
  height: 103.5%;
  width: 103.5%;
  top: -3%;
  left: -1.9%;
}

.Fifth-Making {
  position: absolute;
  top: 0;
  left: 0;
}


.Seventh-8 {
  position: absolute;
  height: 6%;
  width: 13%;
  top: 86%;
  left: 83%;
}

.Seventh-9 {
  position: absolute;
  height: 6%;
  width: 13%;
  top: 86%;
  left: 83%;
}

.Seventh-10 {
  position: absolute;
  height: 6%;
  width: 13%;
  top: 86%;
  left: 83%;
}

.Seventh-11 {
  position: absolute;
  height: 6%;
  width: 13%;
  top: 86%;
  left: 83%;
}

.Seventh-12 {
  position: absolute;
  height: 6%;
  width: 13%;
  top: 86%;
  left: 83%;
}

.Seventh-13 {
  position: absolute;
  height: 6%;
  width: 13%;
  top: 86%;
  left: 83%;
}

.Seventh-14 {
  position: absolute;
  height: 6%;
  width: 13%;
  top: 86%;
  left: 83%;
}

.Seventh-15 {
  position: absolute;
  height: 6%;
  width: 13%;
  top: 86%;
  left: 83%;
}

.Seventh-16 {
  position: absolute;
  height: 6%;
  width: 13%;
  top: 86%;
  left: 83%;
}

.Seventh-Press {
  position: absolute;
  width: 12%;
  height: 5%;
  top: 90.5%;
  left: 43.5%;
  opacity: 1;
  animation: fade 2s infinite;
}
