.Third-Background {
  position: absolute;
  top: 0;
  left: 0;
}

.Third-BigBox {
  position: absolute;
  top: 75%;
  left: 53%;
  height: 15%;
  width: 10%;
}

.Third-dragSupplies {
  position: absolute;
  width: 20%;
  height: 4%;
  top: 65.5%;
  left: 41%;
  opacity: 1;
  animation: fade 2s infinite;
}

.Third-SmallBox {
  position: absolute;
  top: 87%;
  left: 55%;
  height: 5%;
  width: 10%;
}

.Third-Flour1 {
  position: absolute;
  top: 78%;
  left: 33%;
  height: 13%;
  width: 15%;
}

.Third-Flour2 {
  position: absolute;
  top: 75%;
  left: 40%;
  height: 19%;
  width: 7%;
}

.Third-Carton1 {
  position: absolute;
  top: 82%;
  left: 45%;
  height: 12%;
  width: 11%;

}

.Third-Carton2 {
  position: absolute;
  top: 82%;
  left: 49%;
  height: 13%;
  width: 11%;

}

.Third-Peanuts {
  position: absolute;
  top: 76%;
  left: 45%;
  height: 13%;
  width: 11%;
}

.Third-Text1 {
  position: absolute;
  top: 10%;
  left: 4%;
  height: 6.5%;
  width: 4%;

  opacity: 1;
  transition: 0.7s;
}

.Third-Text1:hover {
opacity: .5;
transition: 0.3s;
}

.Third-Text2 {
  position: absolute;
  top: 17%;
  left: 4%;
  height: 6.5%;
  width: 15%;

  opacity: 1;
  transition: 0.7s;
}

.Third-Text2:hover {
opacity: .5;
transition: 0.3s;
}

.Third-Text3 {
  position: absolute;
  top: 24%;
  left: 4%;
  height: 6.5%;
  width: 15%;

  opacity: 1;
  transition: 0.7s;
}

.Third-Text3:hover {
opacity: .5;
transition: 0.3s;
}

.Third-Text4 {
  position: absolute;
  top: 38.9%;
  left: 4%;
  height: 9%;
  width: 26%;

  opacity: 1;
  transition: 0.7s;
}

.Third-Text4:hover {
opacity: .5;
transition: 0.3s;
}

.Third-Arrow1 {
  position: absolute;
  height: 10%;
  width: 5%;
  top: 3%;
  left: 37%;
}

.Third-Arrow2 {
  position: absolute;
  height: 10%;
  width: 5%;
  top: 8%;
  left: 33.5%;
  transform: rotate(35deg);
}

.Third-Arrow3 {
  position: absolute;
  height: 10%;
  width: 5%;
  top: 4%;
  left: 60.5%;
  transform: rotate(90deg);
}

.Third-Arrow4 {
  position: absolute;
  height: 10%;
  width: 5%;
  top: 8.5%;
  left: 64.5%;
  transform: rotate(60deg);
}

.Third-Arrow5 {
  position: absolute;
  height: 10%;
  width: 5%;
  top: 75%;
  left: 92%;
  transform: rotate(120deg);
}

.Third-Arrow6 {
  position: absolute;
  height: 10%;
  width: 5%;
  top: 18%;
  left: 82%;
  transform: rotate(80deg);
}

.Third-Arrow7 {
  position: absolute;
  height: 10%;
  width: 5%;
  top: 2%;
  left: 42.5%;
  transform: rotate(-40deg);
}

.Third-Crackle {
  position: absolute;
  top: 7%;
  left: 2.9%;
  height: 43%;
  width: 28%;

  opacity: 1;
  transition: 0.7s;
}
